@font-face {
    font-family: 'Adonais Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Adonais Regular'), url('Adonais.woff') format('woff');
}
@font-face {
    font-family: "Evil Empire";
    font-style: normal;
    font-weight: normal;
    src: local('Evil Empire'), url('Evil Empire.woff') format('woff');
}
* {
    box-sizing: border-box;
  }
  
  body{
    color: wheat;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1vw;
  }
  .teamImg{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #teamImg{
    border-radius: 5%;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float:left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    align-content: center;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .alexTitle{
    font-family: "Evil Empire";
    color: #fcb634;
    font-size: 2vw;
    text-align: center;
  }
  .mKTitle{
    font-family: "Evil Empire";
    color: #fcb634;
    font-size: 2vw;
    text-align: center;
  }
  #gameImgOne:hover{
    opacity: 0.6;
  }
  #gameImgTwo:hover{
    opacity: 0.6;
  }
  .copyright{
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.1vw;
    color: wheat;
}
.homeHead{
    color: #B3172F;
    font-size: 3vw;
    font-family: "Evil Empire";
}
.redThornDescription{
    margin-left: 10%;
    margin-right: 10%;
}
.flex-links a{
  display: flex;
  margin-bottom: auto;
}

.flex-links .devblogweb a {
  font-family:"Evil Empire";
  color: #fcb634;
  font-size: 2vw;
  text-decoration: none;
  border: 2px #B3172F solid;
  border-radius: 25%;
  background-color: #B3172F;
  margin-left: 20%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}
.flex-links .devblogweb a:hover{
  opacity: 0.6;
}
.flex-links .presskitweb a {
  font-family:"Evil Empire";
  color: #fcb634;
  font-size: 2vw;
  text-decoration: none;
  border: 2px #B3172F solid;
  border-radius: 25%;
  background-color: #B3172F;
  text-decoration: none;
  margin-right: 20%;
  float: right;
  padding-left: 1%;
  padding-right: 1%;
}
.flex-links .presskitweb a:hover {
  opacity: 0.6;
}
#gifs {
  margin:1%;
  border-style: solid;
  border-color: #fcb634;
  border-radius: 3%;
  border-spacing: 1%;
}
#gifs:hover{
  opacity: 0.6;
}
.alexDescText{
  text-align: center;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}
.alexBallTitle{
  font-family: "Evil Empire";
  color: #fcb634;
  font-size: 3vw;
  text-align: center;
}
#myImg:hover{
  opacity: 0.6;
}